.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Style Table */

body {
	background: orange;
	padding: 20px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background: black;
}
td {
    width: 40px; height: 40px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background: black;
}
td {
    width: 40px; height: 40px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background: white;
}
